
body {
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
  color: #413057;
}

table {
  border: 1px solid #cecece;
  margin-bottom: 15px;
  font-size: 0.88em;
}

table th {
  font-family: 'Source Code Pro', monospace;
}

table th, table td {
  border: 1px solid #cecece;
  padding: 5px 10px;
}


pre, code {
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #ffdd00;
  color: #333;
  padding: 12px;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.8em;
}

.footer i {
  color: #999;
}

.footer i:hover {
  color: #333;
}

blockquote {
  border-left: 3px solid #999;
  padding-left: 10px;
  font-size: 0.9em;
  color: #999;
}

code {
  padding: 1px 6px;
  font-size: 0.9em;
}

.sub-u ul {
  margin-bottom: 15px;
}

h3 {
  color: #333;
  margin: 30px 0 20px;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}

h4 {
  font-size: 24px;
  color: #333;
  margin: 30px 0 15px;
}

.no-top-border {
  margin-top: 0;
}

.container {
  margin-top: 10px;
  padding-bottom: 25px;
}

.container .row {
  margin-bottom: 6px;
}
